
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}

.conversations {
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#conversation-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.conversation {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.conversation:last-child {
    border-bottom: none;
}



.chat {
    margin-top: 20px;
    border: 1px solid #000;
    padding: 10px;
    height: 300px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
}

.message.from-assistant {
    background-color: #eef6fc;
}

.message.from-user{
    /*background-color: #f2f2f2;*/
    background-color: #faf6dc;
}


.input-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

#message-input {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#send-btn {
    width: 10%;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#send-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}